@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root{
  --plyr-color-main: red;
}

.container {
  width: 1280px;
  height: 720px;
}

.plyr__controls{
  font-family: 'Roboto', Arial, sans-serif;
}

.plyr__captions .plyr__caption {
  background: rgba(0, 0, 0, 0);
  -webkit-text-stroke-color: black;
	font-size: 40px;
	font-weight: 900;
  line-height: 1.2;

  -webkit-text-stroke-width: 1.8px;
  font-family: 'Roboto', Arial, sans-serif;
}

.video-js .vjs-text-track-display > div > div > div {
	background:transparent !important;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  font-size: 40px;

  -webkit-text-stroke-width: 2px;
  font-family: 'Roboto', Arial, sans-serif;
}
